<!-- Footer -->
<footer>
    <div class="content-footer">
        <a href="https://rocketseat.com.br/"><img class="rockeseat" src="/assets/icones/rockeseat icon.svg" alt="Rockeseat"></a>
        <a href="https://github.com/Edufreitass/nlw-rocketseat"><img src="/assets/icones/github-icon.png" alt="GitHub"></a>
        <a href="https://nextlevelweek.com/"><img src="/assets/icones/nlw-icon.png" alt="Next Level Week"></a>
        <h1>2020 &copy;
            <br>Criado por
            <br>
            <span>Eduardo Freitas</span></h1>
    </div>
</footer>